.check_div {
  gap: 50px;
  margin: 20px;
  display: flex;
}
#deliveryForm {
  flex: 6;
  width: 96%;
  margin-left: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  border: 1px solid black;
}

#deliveryForm form input {
  width: 400px;
  height: 35px;
  border: none;
  padding: 10px;
  font-size: 16px;
  margin-top: 30px;
  border-bottom: 2px solid grey;
  background-color: rgba(238, 238, 238, 0.664);
}

#deliveryForm h3 {
  margin-top: 30px;
}
.price_details {
  flex: 3;
}
#deliveryForm button {
  width: 300px;
  border: none;
  margin: 30px;
  height: 50px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  background-color: #1b1b1b;
}
#deliveryForm button:hover {
  background-color: rgba(0, 0, 0, 0.658);
}
form {
  padding-left: 10%;
}
